name: Deploy Portfolio

on:
  push:
    branches: [ "main" ]

  workflow_dispatch: {}


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Build Vue app
        run: npm run build
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{secrets.ACCOUNT_ID}}:role/GithubOIDC
          aws-region: us-east-1

      - name: Upload to S3
        run: |
          aws s3 sync dist/ s3://gjgeorgiev-portfolio --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{secrets.DISTRIBUTION_ID}} \
            --paths "/*"